.page-hp {
	display: table;
	vertical-align: middle;
	text-align: center;
	margin: 0 auto;
	width: 95vw;
	height: 100vh;
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	}

	nav {
		position: relative;
		z-index: 2;
		display: table-cell;
		margin: 0 auto;
		vertical-align: middle;
		text-align: center;

		ul.nav {
			display: inline-block;
			color: white;

			li:first-child {
				font-size: 2.5rem;
			}

			li {
				margin: 2rem 0;
			}

			&.pic {
				float: left;
				text-align: left;
			}

			&.web {
				float: right;
				text-align: right;
			}

		}
	}

}